Repository wp-cli/media-command, pull requests merged in 2018-02, with the labels that each got.

#68 Document how to fetch attachment URL after import
  README.md
  src/Media_Command.php
Labels: command:media-import, scope:documentation

#71 Update license copyright date to 2018
  LICENSE
Labels: scope:documentation

#69 Reinstate ghostscript/imagick install; fix bmp name in regenerate test.
  .travis.yml
  bin/install-ghostscript.sh
  features/media-regenerate.feature
  src/Media_Command.php
  travis-append.yml
  travis-before_install-append.yml
  travis-cache-append.yml
Labels: command:media-regenerate, scope:testing
