Repository wp-cli/media-command, pull requests merged in 2019-08, with the labels that each got.

#112 Skip test for duplicate resizes for core trunk because of bug in current version
  features/media-regenerate.feature
Labels: command:media-regenerate, scope:testing

#108 Add `wp media fix-orientation` command
  features/media-fix-orientation.feature
  src/Media_Command.php
Labels: command:media

#110 Clarify implications of using `--skip-copy`
  src/Media_Command.php
Labels: command:media-import, scope:documentation
