Repository wp-cli/media-command, pull requests merged in 2022-12, with the labels that each got.

#171 Travis is no longer in use, so fine to remove config files
  .travis.yml
  README.md
  travis-append.yml
  travis-before_install-append.yml
  travis-cache-append.yml
Labels: scope:testing

#170 Avoid deleting meta for other sizes when running `wp media regenerate` with `--image_size`
  features/media-regenerate.feature
  src/Media_Command.php
Labels: bug, command:media-regenerate, command:media

#172 Fx typo in import command longdesc
  src/Media_Command.php
Labels: scope:documentation, command:media-import
